<h1>Pictory</h1>
<% if logged? %> Bienvenido <%= current_user.name %>
    <%= link_to "salir", session_path(current_user), method: :delete %>
<% else %>
    <%= link_to "Iniciar sesión", users_sign_in_path %>
    <%= link_to "registrarse", users_sign_up_path %>
<% end %>

